{{- $enabled := .Site.Params.comments.enabled | default false -}}
{{- $provider := .Site.Params.comments.provider | default "" -}}

{{- if and $enabled (eq $provider "disqus") -}}
  {{- $shortname := "" -}}
  {{- with .Site.Config.Services.Disqus.Shortname -}}
    {{- $shortname = . -}}
  {{- end -}}
  {{- if not $shortname -}}
    {{- with .Site.Params.comments.disqusjs.shortname -}}
      {{- $shortname = . -}}
    {{- end -}}
  {{- end -}}
  {{- if not $shortname -}}
    {{- /* No shortname configured; nothing to render. */ -}}
  {{- else -}}
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = "{{ .Permalink }}";
        this.page.identifier = "{{ .RelPermalink }}";
      };
      (function () {
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ $shortname }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the comments powered by Disqus.</noscript>
  {{- end -}}
{{- end -}}
